html,
body {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.header-wrapper {
  font-family: "M PLUS Code Latin", sans-serif;
  font-weight: 600;
  font-size: 2em;
  position: absolute;
  top: 4rem;
  left: 5rem;
}

.main-wrapper {
  display: flex;
  flex: 1;
  position: absolute;
  top: 18rem;
  left: 15rem;
}

.scarecrow-image {
  width: 50rem;
  height: 50rem;
}

.main-wrapper-right {
  display: flex;
  flex-direction: column;
  padding-top: 9rem;
  padding-left: 14rem;
}

.bad-news-heading {
  margin-bottom: 0%;
  font-size: 5em;
  font-family: "Carter One", cursive;
  font-weight: 400;
}

.bad-news-para {
  font-weight: 500;
  font-size: 2em;
}

.return-home-button {
  font-size: 1.5em;
  background-color: black;
  color: white;
}

.footer-wrapper {
  font-size: 1.2em;
  opacity: 60%;
  position: absolute;
  top: 80rem;
  left: 70rem;
}
